- content_for :title do
  = @title

%div
  %h2 Tools
  %ul
    %li
      %a{:href => "#{app_root}/stats"} stats
  %h2 Tweets
  %ul
    %li
      %a{:href => "#{app_root}/timeline"} timeline
    %li
      %a{:href => "#{app_root}/bests"} best tweets
