
$font_black : #222;

@mixin content {
  div {
    margin : 10px;
    font-size : 95%;
  }
}

body {
  @include content;
  background-color : #EEE;
  color : $font_black;
}

.box {
  margin : 50px;
  padding : 20px;
  background-color : #FFF;
  border-radius : 15px;
}

#alert {
  width : 40%;
  margin : auto;
  display : none;
}

li {
  list-style-type : none;
}

li.status {
  margin : 0px;
  padding : 5px;
  .tweeted_at {
    font-size : 80%;
  }
}

li.status.hide {
  background-color : #CCC;
}
